<h2>Ask Your Question! (We will respond!)</h2>

<p>If you have a question about this topic (or anything else about getting a Ph.D. in CS), ask below.  We will answer!</p>
    
<div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 3579; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
        url: '{{ page.url | absolute_url }}',
        id: '{{page.id}}'
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
